
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(25, 0, 49);
    padding: 200px 0px;

}
.q-wrapper{
    width: 75%;
    margin: 0 auto;
    padding: 40px 0px;
}

.quote{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
}

.author{
    font-size: 30px;
    color: rgb(109, 105, 105);
}
.btn-generate{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    font-size: 20px;
    background-color: blueviolet;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-generate:focus{
    outline: none;
}
.btn-generate:hover{
    background-color: #361753;
}
.btn-generate:active{
    background-color: #8400ff;
}

@media only screen and (max-width: 500px) {
    .quote {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-bottom: 30px;

    }
    .author{
        border-top: 1px solid blueviolet;
        padding: 10px;
        font-size: 20px;
    }
    .btn-generate{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 30px;
        font-size: 20px;
        background-color: blueviolet;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 800px) and (min-width: 500px){
    
    .quote {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .author{
        border-top: 1px solid blueviolet;
        padding: 10px;
        font-size: 25px;
    }
  }